# Google Gemini API key https://makersuite.google.com/ (free)
GOOGLE_API_KEY=AIzaSyAm3lQRv3MU2VqgrjJJRTTSIXlNzzn9R60
# Telegram bot token from BotFather (https://t.me/botfather)
BOT_TOKEN=1224567:7158305425:AAHvpcyKIpucMqRxkxbK0o9INLJEetJ0A5o
# Authorized Users: Comma seperated values of either Telegram username or user id. To restrict public access of the bot
AUTHORIZED_USERS=@BeniHFX
